/* line 3, ../sass/sponsor.sass */
html {
  background-image: url("../../img/sponsor-bg.jpg");
  background-position: top left;
  background-size: cover;
}

/* line 7, ../sass/sponsor.sass */
body {
  width: 61.8034%;
  margin-left: 9.01699%;
}

/* line 10, ../sass/sponsor.sass */
p, li {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 1em;
}

/* line 14, ../sass/sponsor.sass */
li {
  list-style: disc;
  margin-left: 1em;
}

/* line 17, ../sass/sponsor.sass */
h1 {
  font-size: 45px;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* line 22, ../sass/sponsor.sass */
a {
  color: #0088dd;
  text-decoration: none;
  border-bottom: 1px dashed #22a0ff;
}

/* line 26, ../sass/sponsor.sass */
strong {
  font-weight: bold;
}
